@use "/src/styles/layout.scss";
.ThreeColGridWrapper {
  margin-top: 52px;
  @include layout.mobile {
    margin-top: 48px;
  }
  h3 {
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 135.5%;
    letter-spacing: -0.8px;
    margin-bottom: 20px;
    @include layout.desktopLarge {
      font-size: 28px;
    }
  }
  p {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 170.5%;
    letter-spacing: -0.48px;
    @include layout.desktopLarge {
      font-size: 24px;
    }
    @include layout.mobile {
      font-size: 16px;
      line-height: 175%;
      letter-spacing: -0.64px;
    }
  }
  .ThreeColGridCol:nth-of-type(1) h3 {
    max-width: 150px;
    @include layout.desktopLarge {
      max-width: 100%;
    }
    @include layout.mobile {
      max-width: 100%;
    }
  }
  .ThreeColGridCol:nth-of-type(2) h3 {
    max-width: 150px;
    @include layout.desktopLarge {
      max-width: 100%;
    }
    @include layout.mobile {
      max-width: 100%;
    }
  }
  .ThreeColGridCol:nth-of-type(3) h3 {
    max-width: 176px;
    @include layout.desktopLarge {
      max-width: 100%;
    }
    @include layout.mobile {
      max-width: 100%;
    }
  }
  .ThreeColGridCol {
    @include layout.tablet {
      flex: 0 0 50%;
      max-width: 50%;
      margin-bottom: 20px;
    }
    @include layout.mobile {
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 60px;
      text-align: center;
    }
  }
}
