@use "/src/styles/layout.scss";
.GridTwoColContentWrapper {
  padding-left: 40px;
  .GridTwoCol {
    margin-bottom: 41px;
    @include layout.tablet {
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 30px;
    }
    h3 {
      margin-bottom: 20px;
    }
    p {
      opacity: 0.6;
    }
  }
}
