.buttonWrapper {
  width: fit-content;
  margin-top: 26px;
}
.secondaryBtn {
  display: flex;
  height: 46px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 135.5%;
  letter-spacing: -0.8px;
  text-transform: uppercase;
}
