//media queries
$screen-small-max: 360px;
$screen-mobile-max: 767px;
$screen-tablet-min: 891px;
$screen-tablet-max: 1080px;
$screen-desktop-small: 1280px;
$screen-desktop-large: 2000px;

//fonts
$SpaceGroteskLight: "SpaceGrotesk-Light";
$SpaceGroteskRegular: "SpaceGrotesk-Regular";
$SpaceGroteskBold: "SpaceGrotesk-Bold";
$SpaceGroteskSemiBold: "SpaceGrotesk-SemiBold";
$SportyProRegular: "SportyPro-Regular";
