@use "/src/styles/layout.scss";
.buttonWrapper {
  width: fit-content;
  margin-left: auto;
}

.primaryBtn {
  display: flex;
  height: 56px;
  padding: 16px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.96px;
  @include layout.mobile {
    height: 40px;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;
    letter-spacing: -0.64px;
    padding: 16px 12px;
  }
}
